.btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 1rem;
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    margin-right: 1rem;

    &:hover {
        background-color: var(--bg);
    }

    &.dark {
        background-color: var(--dark-secondary);
        color: var(--dark-primary);

        &:hover {
            background-color: var(--dark-bg);
        }
    }

    @media screen and (min-width: 768px) {
        font-size: 3rem;
    }
}