html,
body {
	padding: 0;
	margin: 0;
  overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
	Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
	sans-serif;
}
* {
	box-sizing: border-box;
}

:root {
  // light mode

  --bg-image: url("../assets/background_lightMode.jpeg");
  --bg: #ffcd7e;
  --primary: #442925;
  --secondary: #EC8863;
  
  // dark mode

  --dark-bg-image: url("../assets/background_darkMode.jpeg");
  --dark-bg: #767976;
  --dark-primary: #f4f7eb;
  --dark-secondary: #2d3035;

  // backgrounds
  
  background-image: var(--bg-image);
  background-size: cover;

  &.dark {
    background-image: var(--dark-bg-image);
    background-size: cover;
  }
}


.container{
  display: flex;
  height: 100vh;
  padding: 2rem;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}