.grid {
    background-color: var(--secondary);
    .gridRow{
        &:first-child{
            td{
                border-top: 4px solid var(--secondary);
            }
        }

        &:nth-child(3n){
            td{
                border-bottom: 4px solid var(--secondary);
            }
        }
    }

    &.dark{
        background-color: var(--dark-secondary);
        .gridRow{
            &:first-child{
                td{
                    border-top: 4px solid var(--dark-secondary);
                }
            }
    
            &:nth-child(3n){
                td{
                    border-bottom: 4px solid var(--dark-secondary);
                }
            }
        }
        
    }
}



