.cell{
    background: var(--bg);

    &:first-child{
        border-left: 4px solid var(--secondary);
    }

    &:nth-child(3n){
        border-right: 4px solid var(--secondary);
    }

    .input{
        cursor: pointer;
        width: 2.25rem;
        height: 2.25rem;
        font-size: 1.5rem;
        text-align: center;
        border: none;
        border-radius: 0;
        caret-color: transparent;
        background: none;
        color: var(--primary);

        @media screen and (min-width: 768px) {
            width: 5rem;
            height: 5rem;
            font-size: 4rem;
        }
         
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        &:hover{
            background-color: var(--secondary);
            
        }

        &:focus, 
        &:active{
            background-color: var(--primary);
            outline: none;
            color: var(--bg);
        }
    }

    &.dark{

        background: var(--dark-bg);

        &:first-child{
            border-left: 4px solid var(--dark-secondary);
        }
    
        &:nth-child(3n){
            border-right: 4px solid var(--dark-secondary);
        }
    
        .input{
            color: var(--dark-primary);

            &:hover{
                background-color: var(--dark-primary);
                color: var(--dark-secondary);
            }
    
            &:focus, 
            &:active{
                background-color: var(--dark-secondary);
                color: var(--dark-primary);
            }
        }
    
    }
}