.toggleBtn {
    border-radius: 999px;
    background-color: var(--primary);
    padding: 0.75rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin:1rem;
    cursor: pointer;
  
    .icon {
      height: 1.75rem;
      width: 1.75rem;
      color: var(--bg);
    }

    &.dark{
      background-color: var(--dark-primary);

      .icon{
        color: var(--dark-bg);
      }
    }
  }